<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/estilos-consultas.css">
    <title>Consultas de Sismos</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/consultas">Consultas de sismos</a></li>
            <li><a href="#services">A cerca de nosotros</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
        <div class="rightNav">
            <a href="/consultas">Realizar consultas</a>
        </div>
    </nav>

    <h1>Consultas de Sismos</h1>
    <form action="/resultados" method="post">
        <label for="fecha_inicio">Fecha Inicio:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio">

        <label for="fecha_fin">Fecha Fin:</label>
        <input type="date" id="fecha_fin" name="fecha_fin"><br><br>

        <label for="hora_inicio">Hora Inicio:</label>
        <input type="time" id="hora_inicio" name="hora_inicio">

        <label for="hora_fin">Hora Fin:</label>
        <input type="time" id="hora_fin" name="hora_fin"><br><br>

        <label for="magnitud_min">Magnitud Mínima:</label>
        <input type="number" id="magnitud_min" name="magnitud_min" step="0.1">

        <label for="magnitud_max">Magnitud Máxima:</label>
        <input type="number" id="magnitud_max" name="magnitud_max" step="0.1"><br><br>

        <label for="profundidad_min">Profundidad Mínima:</label>
        <input type="number" id="profundidad_min" name="profundidad_min" step="0.1">

        <label for="profundidad_max">Profundidad Máxima:</label>
        <input type="number" id="profundidad_max" name="profundidad_max" step="0.1"><br><br>

        <label for="latitud">Latitud:</label>
        <input type="number" id="latitud" name="latitud" step="0.001">

        <label for="longitud">Longitud:</label>
        <input type="number" id="longitud" name="longitud" step="0.001"><br><br>

        <input type="submit" value="Buscar"><br><br>
    </form>
    <a href="/">Volver a la página principal</a>
</body>

</html>