<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/estilos-resultados.css">
    <title>Resultados de la Consulta</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/consultas">Consultas de sismos</a></li>
            <li><a href="#services">A cerca de nosotros</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
        <div class="rightNav">
            <a href="/consultas">Realizar consultas</a>
        </div>
    </nav>

    <p>Resultados de la Consulta</p>
    <div id="resultados">
        {% if sismos %}
        <div class="mapas">
            <p>Mapa de los resultados:</p>
            <iframe src="/static/mapa_resultados.html" width="400" height="350"></iframe>
            <p>Gráfico 3D de los resultados:</p>
            <img src="/static/sismos_plot.gif" alt="Gráfico 3D de Sismos Animado" width="700" height="500">
            <img src="/static/sismos_plot.png" alt="Gráfico 3D de Sismos" width="700" height="500">
        </div>

        <p>Se encontraron {{ total_eventos }} eventos</p>
        <ul>
            {% for sismo in sismos %}
            <li>Fecha: {{ sismo[0] }}, Hora: {{ sismo[1] }}, Latitud: {{ sismo[2] }}, Longitud: {{ sismo[3] }},
                Profundidad: {{ sismo[4] }}, Magnitud: {{ sismo[5] }}</li>
            {% endfor %}
        </ul>

        {% else %}
        <p>No se encontraron resultados para la consulta realizada.</p>
        {% endif %}
    </div>
    <a href="/consultas">Realizar otra consulta</a>
    <a href="/">Volver a la página principal</a>
</body>

</html>
